<header></header>
<div class="login">
  <form [formGroup]="details" novalidate class="login-form col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <h3>
      <b>Welcome</b>
    </h3>
    <p class="muted">Use your account to log in.</p>
    <div class="form-group">
      <label for="Email">Email address</label>
      <input type="email" class="form-control" formControlName="email" name="Email">
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" formControlName="password" name="Password">
    </div>
    <div class="forgot-password">
      <a href="javascrpt.void(0)">Forgot Password</a>
    </div>
    <div>
      <button type="button" (click)="logInUser()" class="btn btn-primary btn-lg">Log In</button>
    </div>
  </form>
</div>