.header {
    background-color: #25343B !important;
    flex-grow: 1;
    color: white;
    justify-content: normal;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-logo{
    height: 43px;
    width: 60px;
}

.navbar-brand{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

.auth{
    display: flex;
    right: 0;
    position: absolute;
}

.logged-user{
    right: 30px;
    position: absolute;
}

.avatar {
    vertical-align: middle;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 5px;
  }

 .header a {
    color: white;
}

.dropdown-item{
    color: #212529 !important;
}

.dropdown-item:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #007bff;
}
