.blog-container {
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, .09);
  border-radius: 2px;
  margin: 15px 85px;
}

.blog {
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.blog-shared-user {
  display: flex;
  padding-bottom: 5px;
}

.blog-shared-user__avatar {
  vertical-align: middle;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 5px;
}

.blog-shared-user__meta {
  display: grid;
}

.blog-shared-user__name {
  font-weight: 500;
}

.blog-shared-user__description {
  font-size: 15px;
}

.blog-img {
  width: 100%;
}

.blog-title {
  font-size: 30px;
  font-weight: 500;
}

.blog-created{
  margin-bottom: 0px;
}

.create-stats {
  padding: 4px 10px;
  border-radius: 2px;
  border-top: 0px;
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-evenly;
  border-top: 1px solid #ced0d4;
  margin: 0px 25px;
}

.create-stats-icon {
  margin-right: 7px;
}

.create-stats-option {
  padding: 5px 48px;
}

.create-stats-option:hover {
  background: #f2f2f2;
  border-radius: 9px;
}
